################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APainfulMemory.github.io/FileContentIndex/71b75637-e97f-4da5-acbe-796f1c3c3e0b.vsidx
