* {
  font-family: arial;
}

.link {
  display: block;
  background-color: Transparent;
  border: 0;
  min-height: 64px;
  min-width: 64px;
  height: 3%;
  width: 3%;
  position: absolute;
}
.home {
  object-fit: contain;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: Transparent;
  border: 0;
  min-width: 192px;
  min-height: 64px;
  width: 10%;
  height: 10%;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube {
  background-image: url("images/youtube_social_circle_red.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: Transparent;
  border: 0;
  min-height: 64px;
  min-width: 64px;
  height: 3%;
  width: 3%;
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.github {
  background-image: url("images/GitHub-Mark-Light-64px.png");
  display: block;
  background-color: Transparent;
  border: 0;
  min-height: 64px;
  min-width: 64px;
  height: 3%;
  width: 3%;
  position: relative;
  right: 130%;
}

.chrome {
  background-image: url("images/chrome.png");
  object-fit: contain;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: Transparent;
  border: 0;
  min-width: 192px;
  min-height: 64px;
  width: 10%;
  height: 10%;
  position: absolute;
  top: 5%;
  left: 20%;
}

.firefox {
  background-image: url("images/firefox.png");
  object-fit: contain;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: Transparent;
  border: 0;
  min-width: 192px;
  min-height: 64px;
  width: 10%;
  height: 10%;
  position: absolute;
  top: 5%;
  right: 20%;
}

.download {
  background-image: url("images/download.png");
  display: block;
  object-fit: contain;
  border: 0;
  min-width: 192px;
  min-height: 64px;
  width: 10%;
  height: auto;
  margin-left: auto;
  margin-right: auto
}

.screenshot {
  display: block;
  object-fit: contain;
  border: 0;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto
}

.button {
  object-fit: contain;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: Transparent;
  border: 0;
  min-width: 192px;
  min-height: 64px;
  width: 10%;
  height: 10%;
}

.cherry_pink {
  background-image: url("images/cherry_pink.png");
  object-fit: contain;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: Transparent;
  border: 0;
  min-width: 192px;
  min-height: 64px;
  width: 10%;
  height: 10%;
}





/* TEMP 2 */



* {
  font-family: arial;
}

.home {
  object-fit: contain;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: Transparent;
  border: 0;
  min-width: 192px;
  min-height: 64px;
  width: 10%;
  height: 10%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  display: block;
  font-size: 1.7vw;
  aspect-ratio: 3 / 1;
  width: 15%;
  min-width: 125px;
  background: #4E9CAF;
  text-align: center;
  border-radius: 5px;
  color: #0D1117;
  font-weight: bold;
  line-height: 5vw;
}

.relBtn {
  display: block;
  font-size: 1.7vw;
  aspect-ratio: 3 / 1;
  width: 15%;
  min-width: 125px;
  background: #4E9CAF;
  text-align: center;
  border-radius: 5px;
  color: #0D1117;
  font-weight: bold;
  line-height: 5vw;
}

.link {
  display: flex;
  background-repeat: no-repeat;
  background-color: Transparent;
  border: 0;
  width: 50%;
  height: auto
  min-width: 64px;
  min-height: 64px;
}

.video {
  display: block;
  aspect-ratio: 16 / 9;
  width: 50%;
  margin-left: auto;
  margin-right: auto
}

.youtube {
  background-image: url("images/youtube_social_circle_red.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: Transparent;
  border: 0;
  min-height: 64px;
  min-width: 64px;
  height: 3%;
  width: 3%;
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.github {
  background-image: url("images/GitHub-Mark-Light-64px.png");
  display: block;
  background-color: Transparent;
  border: 0;
  min-height: 64px;
  min-width: 64px;
  height: 3%;
  width: 3%;
  position: relative;
  right: 130%;
}
